@model EstoqueWEB.Models.EntradasEstoque

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EntradasEstoque</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdEntrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtEntrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtUltimaAlteracao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtUltimaAlteracao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumItensAtual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumItensAtual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoUn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoUn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorVenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumNotaFiscal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumNotaFiscal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aberto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aberto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFornecedorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFornecedorNavigation.IdFornecedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProdutoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProdutoNavigation.IdProduto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdEntrada">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
