@model IEnumerable<EstoqueWEB.Models.EntradasEstoque>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th 
                scope="col">NomeProduto
            </th>
            <th
                scope="col">QtdEntrada
            </th>
            <th>
               scope="col">DtEntrada
            </th>
            <th
                scope="col">DtUltimaAlteracao
            </th>
            <th
                scope="col">NumItensAtual
            </th>
            <th
               scope="col">PrecoUn
            </th>
            <th
               scope="col">ValorVenda
            </th>
            <th
               scope="col">NumNotaFiscal
            </th>
            <th
                scope="col">Lote
            </th>
            <th
              scope="col">Aberto
            </th>
            <th
                scope="col">IdFornecedorNavigation
            </th>
            <th
                scope="col">IdProdutoNavigation
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ToList()) {
        <tr>
@*              <td>@item.IdProduto</td>
                        <td>@item.NomeProduto</td>
                        <td>@item.QtdEstoque</td>
                        <td>@item.PrecoUnd</td>
                        <td>@item.LoteAtual</td>*@
            <td>
                @item.NomeProduto
            </td>
            <td>
                @item.QtdEntrada
            </td>
            <td>
                @item.DtEntrada
            </td>
            <td>
                @item.DtUltimaAlteracao
            </td>
            <td>
               @item.NumItensAtual
            </td>
            <td>
                @item.PrecoUn
            </td>
            <td>
                @item.ValorVenda
            </td>
            <td>
               @item.NumNotaFiscal
            </td>
            <td>
               @item.Lote
            </td>
            <td>
               @item.Aberto
            </td>
            <td>
                @item.IdFornecedorNavigation.IdFornecedor
            </td>
            <td>
               @item.IdProdutoNavigation.IdProduto
            </td>         

            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEntrada">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdEntrada">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEntrada">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
