@model IEnumerable<EstoqueWEB.Models.SaidasEstoque>

@{
    ViewData["Title"] = "Saídas Estoque";
}

<h1><b>Saídas Estoque</b></h1>

<p>
    @*<a asp-action="Create">Criar Entrada de Estoque</a>*@
    <a type="button" class="btn btn-success" asp-action="Create">Criar Saída de Estoque</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DtSaida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdSaida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoVendaUn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProdutoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DtSaida)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.IdProdutoNavigation.NomeProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdSaida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoVendaUn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProdutoNavigation.IdProduto)
            </td>

            <td>
                <a type="button" class="btn btn-primary" asp-action="Details" asp-route-id="@item.IdSaida">Detalhes</a> |
                <a type="button" class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdSaida">Editar</a> |
                <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdSaida">Excluir</a>
               </td>

           @* <td>
                <a asp-action="Edit" asp-route-id="@item.IdSaida">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdSaida">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdSaida">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
